<!doctype html>
<html lang='en'>

<head>

    <title>Project 1</title>
    <meta charset='utf-8'>

    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js' defer></script>
    <script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
    <script src='script.js' defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
        [v-cloak] {
            display: none;
        }

       
        .won {
            color: blue;
        }    
        

        .loss {
            color: red;
        }

    </style>

</head>

<body>
    <div class="container">
        <script type='text/x-template' id='round-detail'>
        <div>
            <ul>
                <li>Round #:{{ number }} </li>
                <li>Winner:{{ winner }} </li>
            </ul>
        </div>
    </script>
        <br>
        <h1>Welcome to the arena of Rock Paper Scissors. Prepare for battle!</h1>
        <div id='app' v-cloak>

            <form>
                Pick your weapon
                <select v-model='userweapon'>
                    <option value="rock">rock</option>
                    <option value="paper">paper</option>
                    <option value="scissors">scissors</option>
                </select>
            </form> <br>

            You've choosen to wield the {{ userweapon }}. Prepare yourself for combat.
            <br><br>
            <button class="btn btn-danger" @click='this.compweapon'> FIGHT!</button>
            <br><br><br>



            <div v-if='resultsarein'>
                Your opponent has choosen to wield the {{ cweapon }} <br><br>
                <div :class ="{ won : victory, loss : !victory }">

                <div v-if='victory' class="display-4">You won!</div>
                <div v-else class="display-4">Try again </div>
                
                <br><br>
                </div>
                User's Score: {{ userscore }} Computer's Score: {{compscore}}
                <br><br>
            </div>


            <button class="btn btn-primary" @click='this.reset'>Reset</button> <br><br><br>

            <div class="btn-group btn-group-sm">
                <button type="button" class="btn-primary" @click='showresults = true'>Show Results</button>
                <button type="button" class="btn-primary" @click='showresults = false'>Hide Results</button>
            </div>
<br><br>
            <div v-if='showresults'>
                <round-detail v-for='round in rounds' v-bind:key='round.number' v-bind:number='round.number'
                    v-bind:winner='round.winner'></round-detail>

            </div>
        </div>
</body>

</html>